.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formname {
  border-radius: 5%; 
  border-collapse: 
  collapse; margin-top: 
  60px;margin-left: 
  500px;margin-right: 
  500px; padding: 5%; 
  border: 1px solid black;
}
.button1{
  border-radius: 25%; 
  height: 30px; 
  width: 70px;
}

table {
  /* border-collapse:collapse; */
  width: 40%;
  align-content: center;
  margin-top: 25px;
  border: 2px solid black;
}

th {
  text-align: center;
  background-color: gray;
  padding: 8px;
 
}
td {
  text-align: left;
  background-color:rgb(212, 95, 59);
  font-weight: bold;
}


